In [42]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
import getpass

username = getpass.getuser()

In [43]:
spark = SparkSession.\
        builder.\
        config('spark.ui.port','0').\
        config('spark.sql.warehouse.dir',f'/user/{username}/warehouse').\
        config('spark.shuffle.useOldFetchProtocol','true').\
        enableHiveSupport().\
        master('yarn').\
        getOrCreate()

In [21]:
customers_df = spark.read.parquet("/user/itv015278/lendingclubproject/cleaned/customers_parquet")

In [9]:
spark.sql("CREATE DATABaSE itv015278_lending_club")

++
||
++
++

In [24]:
spark.sql("""
CREATE EXTERNAL TABLE itv015278_lending_club.customers(member_id string , emp_title string , emp_length int , home_ownership string , annual_income float , address_state string ,
address_zipcode string , address_country string , grade string , sub_grade string , verification_status string , total_high_credit_limit float , application_type string , join_annual_income float,
verification_status_joint string , ingest_date timestamp) stored as parquet LOCATION '/user/itv015278/lendingclubproject/cleaned/customers_parquet'
""")

++
||
++
++

In [36]:
spark.sql("""CREATE EXTERNAL TABLE itv015278_lending_club.loans(loan_id string,member_id string,loan_amount float,funded_amount float,loan_term_years integer,interest_rate float,monthly_installment
 float,issue_date string,loan_status string,loan_purpose string,loan_title string,ingest_date timestamp)stored as parquet LOCATION '/user/itv015278/lendingclubproject/cleaned/loans_parquet' """)

++
||
++
++

In [52]:
spark.sql("""CREATE EXTERNAL TABLE itv015278_lending_club.loans_repayments
(loan_id string, total_principal_received float,total_interest_received float,total_late_fee_received float,
total_payment_received float,last_payment_amount float,last_payment_date string,
next_payment_date string,ingest_date timestamp)
stored as parquet LOCATION '/user/itv015278/lendingclubproject/cleaned/loans_repayments_parquet' """)

++
||
++
++

In [48]:
spark.sql("""CREATE EXTERNAL TABLE itv015278_lending_club.loans_defaulters_delinq
(member_id string,delinq_2yrs integer,delinq_amnt float,mths_since_last_delinq integer)
stored as parquet 
LOCATION '/user/itv015278/lendingclubproject/cleaned/loans_defaulters_records_delinq_parquet' """)

++
||
++
++

In [49]:
spark.sql("""CREATE EXTERNAL TABLE itv015278_lending_club.loans_defaulters_detail_rec_enq
(member_id string,public_record integer,public_record_bankruptcies integer,inquiries_last_6months integer)
stored as parquet 
LOCATION '/user/itv015278/lendingclubproject/cleaned/loans_defaulters_records_inqueries_details_parquet' """)

++
||
++
++

In [53]:
spark.sql("select * from itv015278_lending_club.loans_repayments")

+---------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+--------------------+
|  loan_id|total_principal_received|total_interest_received|total_late_fee_received|total_payment_received|last_payment_amount|last_payment_date|next_payment_date|         ingest_date|
+---------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+--------------------+
|118184277|                  4500.0|                 309.83|                    0.0|              4809.827|            3136.06|         Oct-2018|             null|2025-01-01 07:32:...|
|117289602|                 1851.99|                 466.72|                    0.0|               2318.71|             128.94|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|118216186|                 4593.79|                1285.61|                    0.0|                5879.4|             326.97|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|117584790|                 20000.0|                1638.12|                    0.0|             21638.121|           16960.53|         May-2018|             null|2025-01-01 07:32:...|
|118208834|                 7053.74|                1396.74|                    0.0|               8450.48|             469.84|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|117566588|                 4888.37|                3811.19|                    0.0|               8699.56|             484.19|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|118221134|                  2261.1|                 2017.6|                    0.0|                4278.7|             238.17|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|118183021|                 2688.72|                 345.32|                    0.0|               3034.04|             168.65|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|118209005|                 7567.78|                1346.25|                    0.0|               8914.03|             495.58|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|118214952|                 3291.77|                 651.81|                    0.0|               3943.58|             219.26|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|117566851|                 3677.81|                4886.21|                    0.0|               8564.02|             476.89|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|115648172|                 6456.48|                1769.28|                    0.0|               8225.76|             454.51|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|115354924|                 28000.0|                2612.93|                    0.0|             30612.936|           22262.75|         Jul-2018|             null|2025-01-01 07:32:...|
|118216367|                 19200.0|                1598.26|                    0.0|             20798.256|           17143.24|         Jul-2018|             null|2025-01-01 07:32:...|
|118209104|                 9043.79|                8070.47|                    0.0|              17114.26|             952.65|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|118193433|                 2043.26|                 2730.2|                    0.0|               4773.46|             264.94|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|118188718|                  8000.0|                 1341.8|                    0.0|              9341.797|            4694.48|         Mar-2019|             null|2025-01-01 07:32:...|
|116868788|                 2755.99|                 776.53|                    0.0|               3532.52|             196.18|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|116264178|                 3406.16|                 605.14|                    0.0|                4011.3|             223.01|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
|117616063|                 2821.57|                 558.69|                    0.0|               3380.26|             187.94|         Mar-2019|         Apr-2019|2025-01-01 07:32:...|
+---------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+--------------------+
only showing top 20 rows

In [41]:
spark.stop()